Package: com.phillipt.hermes
Name: Hermes
Depends: mobilesubstrate, cc.tweak.libobjcipc
Architecture: iphoneos-arm
Description: The minimalistic quick reply solution
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
Version: 0.0.1-336
Installed-Size: 580
